.CastList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: justify;
}

.CastList__item {
  display: flex;
  justify-content: space-around;
  box-shadow: 13px 11px 9px -8px rgba(0, 0, 0, 0.75);
  margin-top: 30px;
  padding: 15px;
  width: 35%;
}

.CastList__img {
  height: 250px;
  border: 1px solid #dddddd;
}
