.movieDetails__wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.movieDetails__img {
  height: 350px;
  border: 1px solid #dddddd;
}

.movieDetails__right_wrapper {
  width: 70%;
  text-align: justify;
}

.movieDetails__list {
  display: flex;
  list-style: none;
  justify-content: left;
  padding: 0;
}

.movieDetails__list-item {
  margin-left: 15px;
}
.movieDetails__list-item:first-child {
  margin-left: 0;
}
